*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3rem;
}

header form {
  min-width: 50%;
  display: flex;
}

header form input {
  flex: 1 1 auto;
}

.content {
  flex: 1 1 auto;
  align-items: flex-start;
}

footer {
  min-height: 5rem;
}

.area {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
}

.sales-slider {
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: space-around;
}

.recommended-products {
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: flex-start;
}

.product-img {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.products-content {
  display: flex;
  align-items: stretch;
}

.products {
  flex: 1 1 auto;
}

.filters form {
  display: flex;
  flex-direction: column;
}

.products-list {
  display: flex;
}

.item-info {
  display: flex;
  align-items: stretch;
}

.item-info > * {
  flex: 1 1 50%;
}

.thumbs {
  width: 100%;
  display: flex;
}

.thumbs > button {
  display: block;
  width: 5rem;
  height: 5rem;
  display: flex;
  padding: 0;
  margin: 0;
}

.thumbs > button > img {
  width: 100%;
  height: 100%;
}

.item-slider {
  width: 100%;
  display: flex;
}

.item-slider > div {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review > .title {
  display: flex;
  justify-content: space-between;
  background: rgb(230, 230, 230);
}
